.gameBoard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 20%;
    background-color: bisque;
    border: 8px solid burlywood;
    border-radius: 8%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.gameCircle{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid black;
}

.player-0{
    background-color: white;
}

.player_1{
    background-color: red;
}

.player_2{
    background-color: blue;
}