
body{
    background-color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.app-container{
    width: 800px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -400px;
}
.panel{
    position: absolute;
    background-color: lightgoldenrodyellow;
    border: 8px solid burlywood;
    z-index: 1;
}

.header{
    left: 50%;
    top: 90px;
    height: 80px;
    width: 300px;
    margin-left: -120px;

}

.header-text{
    font: 30px;
    font-weight: bold;
    font-size: large;
    width: 200px;
    position: absolute;
    top: 30%;
    left: 30%;
}
.footer{
    left: 50%;
    top: 750px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.footer button{
    
    margin-top: 14px;
    margin-left: 80px;
    width: 150px;
    height: 50px;
    background-color: lightblue;
    font-weight: bold;
    border: 5px solid chocolate;
}
.footer button:hover{
    background-color: chocolate;
}
.gameBoard{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 20%;
    background-color: bisque;
    border: 8px solid burlywood;
    border-radius: 8%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.gameCircle{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid black;
}

.player-0{
    background-color: white;
}

.player_1{
    background-color: red;
}

.player_2{
    background-color: blue;
}